@media (max-width: 1200px)
	.menu
		&_item 
			padding-right: 14px
		&_link 
			font-size: 13px
	.promo
        &_header
            font-size: 50px
        &_subheader
            font-size: 32px
	.reasons
		&_block
			align-items: flex-start
		&_description
			width: 300px
		&_subtitle
			min-height: 0
	.mobile
		&_item 
			width: 300px
			height: 240px
			&_subtitle
				font-size: 20px
	.choice 
		padding: 55px 0
		min-height: 840px
	.footer
		&_wrapper > div 
			width: 50%
			&:nth-child(1)
				width: 25%
			&:nth-child(3)
				width: 25%
				display: flex 
				justify-content: flex-end
		&_mobile
			display: flex
			a 
				margin: 10px 3px
				img 
					width: 100%

@media (max-width: 991px)
	.menu
		&_item 
			padding-right: 5px
		&_link 
			font-size: 10px
	.subheader
		&_btn
			width: 100%
			margin-top: 21px
			height: 40px
			font-size: 13px
	.promo
		&_header
			font-size: 40px
		&_subheader
			font-size: 28px
		&_description
			font-size: 16px
	.reasons
		&_block
			flex-direction: column
			align-items: center
		&_description
			width: 300px
			margin-top: 20px
	.mobile
		&_item 
			width: 225px
			height: 215px
			padding-top: 50px
			&_icon
				bottom: 20px
				width: 22px
				height: 22px
			&_subtitle
				font-size: 17px
	.choice
		&_img
			width: 100%
